<section class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est expedita perferendis soluta odit modi sapiente? Distinctio iure inventore, quia facere veniam, facilis quidem illum, rem minus amet obcaecati ipsa repellendus?</p>
    </div>
</section>