<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione eum id eveniet doloremque et.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, laudantium! Repellendus praesentium velit facere labore! Sint nemo ad enim, maiores eius saepe, ipsa aut blanditiis amet, officia exercitationem laudantium laboriosam!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>